mixin collapsible-section(title)
    div.collapsible-parent
        div.collapsible-header
            span.glyphicon.glyphicon-plus.collapsible-rotate-plus
            span.collapsible-title #{title}
        div.collapsible-body.in.clearfix
            block
